.flex-video {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
  margin-bottom: 25px;
  &.widescreen {
    padding-bottom: 37.25%;
    margin-bottom: 0;
  }
  &.vimeo {
    padding-top: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
}