/* ================= FONTS ================== */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


body, p,.ytv-list a {
   font-family: 'Lato', sans-serif;
   font-weight:normal;
}
/*
h1, h2, h3, h4, h5, h6,#mainmenu,#submenu,#submenu-login,#header .logo span,.scores-title,.page-title,.match-results,.logos-title,.toggleMenu,#mobile-menu,.resp-tabs-list li, .filters li a,.ytv-list-header span {
  font-family: 'oswaldregular';
  font-weight:normal;
  text-transform:uppercase;
  text-rendering: optimizeLegibility;
}
*/