#footer {
  height: 100%;
  margin: 0 auto 0 auto;
  width: 100%;
  padding-bottom: 7px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
.footerContent{
   margin:0 30px;
}

/*
#footer-widgets {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: auto;
  clear: both;
  display: inline-block;
  padding: 30px;
  padding-bottom: 0;
  h5 {
    margin-bottom: 20px;
  }
}
.footer-widget {
  height: auto;
  float: left;
  padding-bottom: 30px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
.first-clmn {
  padding-right: 20px;
  width: 25%;
}
.second-clmn {
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
}
.third-clmn {
  padding-right: 10px;
  padding-left: 10px;
  width: 25%;
}
.fourth-clmn {
  width: 25%;
}
*/

.footermenu{
   float: left;
   padding-left: 0;
   li{
      list-style: none;
      display: inline-block;
      padding-right: 5px;
   }
}
.credits {
  float: right;
  /*font-size: 11px;*/
  font-style: normal;
  padding-top: 16px;
  padding-left: 20px;
}