.imagelightbox{
   cursor: zoom-in;
}
#imagelightbox{
   position: fixed;
   z-index: 9999;

   -ms-touch-action: none;
   touch-action: none;
   @include box-shadow (0 0 3.125em rgba( 0, 0, 0, .75 ) );
}

/* OVERLAY */
#imagelightbox-overlay
{
   background-color: #fff;
   background-color: rgba( 255, 255, 255, .9 );
   position: fixed;
   z-index: 9998;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   cursor: zoom-out;
}

/* CAPTION */

#imagelightbox-caption
{
   text-align: center;
   color: #fff;
   background-color: #3361AE;
   position: fixed;
   z-index: 10001;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.625em; /* 10 */
}

/* ARROWS */
.imagelightbox-arrow
{
   width: 3.75em; /* 60 */
   height: 7.5em; /* 120 */
   background-color: #444;
   background-color: rgba( 0, 0, 0, .5 );
   vertical-align: middle;
   /*display: none;*/
   border:none;
   position: fixed;
   z-index: 10001;
   top: 50%;
   margin-top: -3.75em; /* 60 */
   &:hover,
   &:focus{
      background-color: #666;
      background-color: rgba( 0, 0, 0, .75 );
   }
   &:active{
      background-color: #111;
   }
}
.imagelightbox-arrow-left
{
   left: 2.5em; /* 40 */

}
.imagelightbox-arrow-right
{
   right: 2.5em; /* 40 */
}
.imagelightbox-arrow:before
{
   width: 0;
   height: 0;
   border: 1em solid transparent;
   content: '';
   display: inline-block;
   margin-bottom: -0.125em; /* 2 */
}
.imagelightbox-arrow-left:before
{
   border-left: none;
   border-right-color: #fff;
   margin-left: -0.313em; /* 5 */
}
.imagelightbox-arrow-right:before
{
   border-right: none;
   border-left-color: #fff;
   margin-right: -0.313em; /* 5 */
}
/* ANIMATION */

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
   @include animation(fade-in .25s linear);
}

@include keyframes(fade-in){
   from	{ opacity: 0; }
   to		{ opacity: 1; }
};


@media only screen and (max-width: 640px) /* 660 */
{
   #imagelightbox-close
   {
      top: 1.25em; /* 20 */
      right: 1.25em; /* 20 */
   }
   #imagelightbox-nav
   {
      bottom: 1.25em; /* 20 */
   }

   .imagelightbox-arrow
   {
      width: 2.5em; /* 40 */
      height: 3.75em; /* 60 */
      margin-top: -2.75em; /* 30 */
   }
   .imagelightbox-arrow-left
   {
      left: 1.25em; /* 20 */
   }
   .imagelightbox-arrow-right
   {
      right: 1.25em; /* 20 */
   }
}

@media only screen and (max-width: 480px)
{
   .imagelightbox-arrow-left
   {
      left: 0;
   }
   .imagelightbox-arrow-right
   {
      right: 0;
   }
}
