$black: rgba(0, 0, 0, 1);
$black_80: rgba(0, 0, 0, 0.8);
$nearly_black:rgba(48, 48, 48, 1);
$white: rgba(255, 255, 255, 1);
$white_80: rgba(255, 255, 255, 0.8);
$white_30: rgba(255, 255, 255, 0.3);

$color_ci_main : rgba(128,154,169,1);
$color_ci_back :rgba(107,121,130,1);
$color_ci_main_25: rgba(128, 154, 169, 0.25);
$color_ci_main_80: rgba(128, 154, 169, 0.8);
$color_ci_main_55 : rgba(128,154,169,.55);
$color_ci_dark : rgba(58, 92, 111,1);
$color_ci_second : rgba(193,18,16,1);

$color_borders: $color_ci_main;
$color_text: rgba(83, 83, 83 ,1);
$color_main_background: rgba(83, 83, 83 ,1);
//$color_main_background: rgba(34, 59, 73 ,1);

